<!DOCTYPE html>

<html lang="zh-CN" class="disney-mycode-html">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>免费拿福利 - 关注剁手帮</title>
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">

  <link href="//static.fine3q.com/res/duoui/css/duoui.css" rel="stylesheet">
  <link href="//static.fine3q.com/res/duoui/css/mod/scratch.css" rel="stylesheet">
  <style>

  </style>
</head>

<body>

  <section class="duo-main">
    <div class="duo-scratch-follow">
      <p style="margin: 70px auto 20px;">
        <img style="width: 200px;" src="http://cdn.firstlinkapp.com/upload/2016_7/1468374490172_35342.png">
      </p>
      <p>长按识别二维码</p>
      <p>关注剁手帮公众号 查看你的优惠券</p>
      <p><a button href="//m.fine3q.com/home/index.html">去剁手帮商场逛逛</a></p>
    </div>
  </section>


  <script src="//static.fine3q.com/res/duoui/lib/all/duoui.js" merge="true"></script>
  <script>
    //下载bar
    duoui.downApp({
      className: 'duo-download-scratch'
    });
  </script>

  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?f96adb82cedaf613592c224d2d976ba7";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</body>

</html>