<!DOCTYPE html>

<html lang="zh-CN" class="disney-mycode-html">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>免费拿福利 - 剁手帮</title>

  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">

  <link href="//static.fine3q.com/res/duoui/css/duoui.css" rel="stylesheet">
  <link href="//static.fine3q.com/res/duoui/css/mod/scratch.css" rel="stylesheet">
  <style>
    .share-ios {
      margin-top: 20%;
    }
    
    .share-ios img {
      width: 100%;
    }
  </style>
</head>

<body>

  <section class="duo-main">

    <!--<a href="https://m.fine3q.com/event/618haigou/618haigouduohsuobang.html">
      <img src="https://cdn.firstlinkapp.com/real/img/2017_6/1497687476165_14795.png">
    </a>-->
    <a href="//m.fine3q.com/event/xinren/xinrrenreren3.html?from=scratch">
      <img src="http://cdn.firstlinkapp.com/upload/2017_3/1490778396598_4273.jpg">
    </a>


    <div class="duo-scratch-header">
      <img style="min-height: 82px" src="http://cdn.firstlinkapp.com/upload/2016_7/1468219966854_11014.png">
      <div class="duo-scratch-avatar"></div>
    </div>
    <div class="duo-scratch-open">
      <ul class="duo-scratch-coupon">
        <li></li>
      </ul>
      <canvas width="250" height="130" id="scratch"></canvas>
    </div>
    <ul class="duo-scratch-list"></ul>
  </section>

  <div class="duo-scratch-footer">
    <a href="javascript:;" id="rule"><cite>查看活动规则</cite></a>
  </div>
  <script src="//static.fine3q.com/res/libs/zepto/1.1.6/zepto.js"></script>
  <script src="//static.fine3q.com/res/duoui/lib/layer/layer.js"></script>
  <script src="//static.fine3q.com/res/duoui/lib/duoui.js?v=218" merge="true"></script>
  <script src="//static.fine3q.com/res/duoui/lib/mod/scratch.js?v=218"></script>

  <!--<script src="/res/src/lib/duoui.js?v=118" merge="true"></script>-->
  <!--<script src="/res/src/lib/mod/scratch.js?143"></script>-->

  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?f96adb82cedaf613592c224d2d976ba7";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</body>

</html>